<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
</head>

<body>
  <form action="/" method="POST">
    <input type="text" name="newTodo" value="What to do?">
    <button type="submit" name="button">Add</button>
  </form>

  <div class="list">
    <ul>
      {{ #toDos }}
      <li>
        {{ #complete }} <del> {{ /complete }}
        {{ text }}
        {{ #complete }} </del> {{ /complete }}
        <form action="/mark-complete/{{ id }}" method="POST">
          <button type="submit">Mark Complete</button>
        </form>
      </li>
      {{ /toDos }}
    </ul>
  </div>
  <div class="completed">
    <form action="/" method="GET">
      <ul>
        {{ #complete }}
        <li> {{.}} </li>
        {{ /complete }}
      </ul>
    </form>
  </div>


</body>

</html>
