<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
</head>

<body>
  <input type="text" name="toDo" value="What to do?">
  <button type="button" name="button" method="post">Add</button>

{{ errors }}
</body>

</html>
