<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
</head>

<body>
  <form action="/" method="post">
    <input type="text" name="toDo" value="What to do?">
    <button type="submit" name="button">Add</button>
  </form>

  <div class="list">
    <form action="/" method="post">

      <ul>
        {{ #toDos }}
        <li>
          <p> {{ . }} </p><button type="submit">Mark Complete</button>
        </li>
        {{ /toDos }}
      </ul>
    </form>
  </div>
  <div class="completed">
    <form action="/" method="get">

      <ul>
        {{ #complete }}
        <li> {{.}} </li>
        {{ /complete }}
      </ul>
    </form>

  </div>


</body>

</html>
